<link rel="stylesheet" href="/assets/styles.css">
<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="contacto">Contacto</a></li>
        <li><a href="perfil/oswaldo">Perfil</a></li>
    </ul>
</nav>