<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            background-color: aqua;
            color:white;
        }
        h1,p{
            text-align:center;
            font-size:30px;
            font-family: Arial, Helvetica, sans-serif;    
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Este es el perfil de: <%= persona %></h1>
    <p> 
        <strong>Edad:</strong>
        <%= data.edad %>
    </p>
    <p> 
        <strong>Trabajo:</strong>
        <%= data.trabajo %>
    </p>
</body>
</html>